<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <title>Back</title>
</head>
<body>
  <div class="container">
    <div class="row ">
      <div class="col 6  ">
        <div class="row  mb-4">
          <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.2/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      icon
    </a>
  </nav>
</div>
        
        
        <div class="row ">
                 <div class="card" style="width: 18rem;">
                <div class="card-header">
                 入帳資訊
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">現金</li>
                  <li class="list-group-item">信用卡</li>
                  <li class="list-group-item">廣告費</li>
                </ul>
              </div>
        </div>
      </div>
      <div class="col 12  ">
        
            <div class="row mb-4" >
                <button type="button" class="btn btn-primary">增加房型</button>
                <button type="button" class="btn btn-secondary">房型搜尋</button>
                <button type="button" class="btn btn-success">篩選</button>
                <button type="button" class="btn btn-danger">刪除房型</button> 
            </div>
            <div class="row col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">內容概述</p>
                      <a href="#" class="btn btn-primary">編輯</a>
                    </div>
                  </div>
            </div>
            <div class="row col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">內容概述</p>
                      <a href="#" class="btn btn-primary">編輯</a>
                    </div>
                  </div>
            </div>
      </div>
      <div class="col 6">
        <div class="row " > 
            <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.2/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      屋主名稱
    </a>
  </nav>
  <div class="row " >
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">今日人數資訊</div>
        <div class="card-body">
          <h5 class="card-title">資訊</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<</p>
        </div>
      </div>
      <div class="row-md-2 " >
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">日期</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="row-md-2 " >
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">客戶訊息</div>
                <div class="card-body text-primary">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>






          </div>


  </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>